:root{
  --color-brand-light : #3AB6EC;
  --color-brand-dark : #457A97;
  --color-constant-red: #F94241;
  --color-low-red: #FAD4D4;
  --color-constant-white: #EAEAEA;
  --color-morning-10: #F0F4F7;
  --color-morning-20: #E0E9EC;
  --color-noonday: #C1CCD3;
  --color-day: #818990;
  --color-afterdark: #28282D;
  --color-constant-green: #1FBA66;
  --color-constant-orange: #FFA000;
}