.auth{
  display: grid;
  place-items: center;
  height: 100vh;
  h2{
    text-align: center;
    margin-bottom: 56px;
    color: #505D68;
  }
  .form{

  }
  .container{
    width: 100%;
    max-width: 500px;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 100%;

    input{
      margin-bottom: 8px;
      padding: 12px 16px;
      border: none;
      border-radius: 8px;
      &::placeholder{
        color: #C1CCD3;
      }
    }
  }
  .form__forgot{
    width: fit-content;
    margin-left: auto;
    border: none;
    background: none;
    margin-top: 8px;
    color: var(--color-brand-light);
    font-size: 16px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .form__submit{
    background: var(--color-brand-light);
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    padding: 15px 20px;
    font-family: "Inter";
    color: white;
    transition: .1s all ease-out;
    cursor: pointer;
    &:hover{
      background: #E4F2F8;
      color: var(--color-brand-light);
    }
  }
}